<%= render :layout => 'administrator/navigation' do %>

    <h1>Editing Question</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @question %> |
    <%= link_to 'Back', questions_path %>

<% end %>
