    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Audicy</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Audicy</h1>
                <hr>

                <div id="video-container">
                    <div id="video-source" width="840" height="480" style="width=100%">
                    </div>
                </div>
    
                <div id="video-caption">
                    <h4>Customized concerts and music recommendations for you and your friends.</h4>
                    <div class="">
                        <br />
                        <div class="text-center row-btn">
                            <a href="#services" class="btn btn-primary btn-xl page-scroll center-block" id="how-does-it-work">How Does It Work?</a>
                        </div>
                        <br />
                        <div class="text-center row-btn">
                            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"> </fb:login-button>
                            <a href="<%= signin_path %>" class="btn btn-primary btn-xl btn-social btn-facebook center-block" id="sign-in"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="services">
        <div class="container">
            <div id="header-row" class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How Does It Work?</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div id="first-row" class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-cloud text-primary"></i>
                        <h3>Analyze your tastes</h3>
                        <p class="text-muted">We'll learn about your musical preferences by looking at you and your friends' listening history.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-music text-primary"></i>
                        <h3>Recommend some tunes</h3>
                        <p class="text-muted">Using our recomendation engine we'll send you new artists that you will enjoy.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-ticket text-primary"></i>
                        <h3>Enjoy a live show</h3>
                        <p class="text-muted">Over time, we will recommand to your party shows that you are all sure to enjoy.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-lock text-primary"></i>
                        <h3>Your data privately stored</h3>
                        <p class="text-muted">We use Facebook to securely and uniquely log you in. We never share your musical tastes with users within, or outside your parties.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="contact" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact</h2>
                    <hr class="light">
                    <p>Have a question or comment? We'd love to hear from you.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a class="btn btn-default btn-xl" data-toggle="modal" data-target="#feedback_modal">Send Feedback</a>
                </div>
            </div>
        </div>
    </section>
    <%= render 'signup_dialog' %>
    <%= render 'feedback_dialog' %>
</body>

<%= javascript_include_tag 'youtube_resize.js' %>

<script>

var player, playing = false;
function onYouTubeIframeAPIReady() {
    console.log("iFrame API is ready");

    videoId = "1vTCXfX5ivY";
    videoDivId = "video-source";

    player = new YT.Player(videoDivId, {
        height: 100,
        width: 175,
        videoId: videoId,
        playerVars: { 'autoplay' : 1 },
        events: {
            'onReady' : onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
    });
}

function onPlayerReady(event) {
    player.mute();
    InitYouTubeResize(function() {

        if ($(window).width() > 768)
        {
            headerHeight = $("header").height();
            videoCaptionHeight = $("#video-caption").height();
            videoTop = $("#video-container").position().top;

            return headerHeight - videoCaptionHeight - videoTop - 60;
        }
        else
        {
            return Number.MAX_SAFE_INTEGER;
        }
    });
}

var intervalId = 0;
var nextPlayTime = 5;
var playTimeStep = 5;

function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING)
    {
        mixpanel.track('Intro Video: Play');
        intervalId = setInterval(function() {
            var curTime = player.getCurrentTime();
            if (curTime > nextPlayTime)
            {
                mixpanel.track('Intro Video: Play Duration', { "playback_time" : nextPlayTime });
                nextPlayTime += playTimeStep;
            }
        }, 1000);
    }
    else
    {
        clearInterval(intervalId);
    }
}

var sentHowDoesItWork = false;

$(window).scroll(function() {
    // If the bottom of the first-row is on screen, then consider it as the user as seen "How does it work"
    var firstRowBottom = $("#first-row").offset().top + $("#first-row").height();
    var windowBottom = $(window).scrollTop() + $(window).height();

    if (windowBottom > firstRowBottom)
    {
        if (!sentHowDoesItWork)
        {
            mixpanel.track("How Does It Work");
            sentHowDoesItWork = true;
        }
    }
});

$("#how-does-it-work").click(function() {
    if (!sentHowDoesItWork)
    {
        mixpanel.track("How Does It Work");
        sentHowDoesItWork = true;
    }
});

mixpanel.track_links("#sign-in", "Sign In");

</script>
