<div class="container">

  <div class="row">
    <div class="col-md-offset-4 col-md-5 text-center">
      <div class="welcome">
        Welcome to Newton
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-4 col-md-5">
      <div class="welcome_subheading">
        Customized concert & music recommendations for <b>you</b> and <b>your friends</b> that you're all guaranteed to love
      </div>
    </div>
  </div>

  <div class="row welcome_row">
    <div class="col-md-offset-1 col-md-1 col-xs-2">
      <%= image_tag("spotify.jpg", class: "welcome_row_image img-responsive") %> 
    </div>
    <div class="col-md-8 col-xs-8 welcome_row_text">
      1) We analyze you and your friends' Spotify music preferences
    </div>
  </div>

</div>