<div id="party_join_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header bg-primary">
        <h3 id="party-join-title" class="modal-title">Info</h3>
      </div>

      <%= form_tag({action: "join_party", method: "post"}, {role: "form", id: "party_join_form"}) do %>
       <div id="party-join-content" class="modal-body edit-content">
       </div>

        <div class="modal-footer bg-dark">
           <%= submit_tag("Join!", class: 'btn btn-success') %>
           <%= submit_tag("Reject", class: 'btn btn-default') %>

          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
        <%= hidden_field_tag(:party_id) %>
       <% end %>

       <script>
        $("#party_join_modal").submit(
        function (event)
        {
            $("#party_join_modal").modal('hide');
        });
      </script>

    </div>
  </div>
</div>
