<%= render :layout => 'navigation' do %>

<style>
	body {
		margin: 70px 10px;
		padding: 0;
	}

	#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
</style>

<!-- Right now using: https://github.com/bokmann/fullcalendar-rails -->
<!-- Calendar page specific code -->
<h1>Your music calendar with <%= @current_party.name %> </h1>

<div id='calendar' style="background-color: grey">
</div>

  <script>
$(document).ready(function() {
    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        
     header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: false,
			events: [

				<% @current_party.events.each do |event| %>
				{
						title  : '<%= event.description %>',
						start  : '<%= event.start.to_datetime%>',
						allDay : false,
						url    : 'http://canvasnewton.herokuapp.com/', //for now (not needed at all)
						//In the future: set the color of event based on user commitment (or other params) -->  color  : '#F6546A'
				},
				<% end %>
			],
			eventColor: '#20647F',
      
	  dayClick: function(date, jsEvent, view) {
        //do something when user click on a day?
    }

    })

});
</script>

<% end %>
	