Welcome <span style="font-weight: 300; font-size: 2em"><%= (session[:fb_info])["name"] %></span>
<p><br>

Thanks for signing up for Newton.  You are awesome.
<p><br>

<img src="<%= (session[:fb_info])["image"] %>">