You have some parties that are going stale.  You should send them questions, a YouTube link, or events.<p/>

These are the parties that are stale:<p/>

<ul>
    <% @parties.each do |cur_party| %>
    <li><span style="font-size: 1.5em"><%= link_to(cur_party[:party].name, party_url(cur_party[:party])) %></span> - Last Updated: <%= cur_party[:updated_at].in_time_zone("Pacific Time (US & Canada)") %></li>
    <% end %> 
</ul>