<div id="top_artists">
    <%= @user.favorite_info.top_artists %>
</div>
<br />
<div id="top_songs">
    <%= @user.favorite_info.top_songs %>
</div>
<br />
<div id="top_genre">
    <%= @user.favorite_info.top_genre %>
</div>
