<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tab_top_artists">Top Artists</a></li>
    <li><a data-toggle="tab" href="#tab_top_songs">Top Songs</a></li>
    <li><a data-toggle="tab" href="#tab_top_genre">Top Genres</a></li>
</ul>

<div class="tab-content">
    <div id="tab_top_artists" class="tab-pane fade in active">
        <pre id="top_artists" />
    </div>
    <div id="tab_top_songs" class="tab-pane fade">
        <pre id="top_songs" />
    </div>
    <div id="tab_top_genre" class="tab-pane fade">
        <pre id="top_genre" />
    </div>
</div>

<script>
    $('document').ready(function() {
        <% if @user.favorite_info.top_artists.nil? %>
            $("#top_artists").text("NO DATA");
        <% else %>
            $("#top_artists").text(pretty_print("<%= @user.favorite_info.top_artists %>"));
        <% end %>

        <% if @user.favorite_info.top_songs.nil? %>
            $("#top_songs").text("NO DATA");
        <% else %>
            $("#top_songs").text(pretty_print("<%= @user.favorite_info.top_songs %>"));
        <% end %>

        <% if @user.favorite_info.top_genre.nil? %>
            $("#top_genre").text("NO DATA");
        <% else %>
            $("#top_genre").text(pretty_print("<%= @user.favorite_info.top_genre %>"));
        <% end %>
    });
    function pretty_print(str) {
        return JSON.stringify(JSON.parse($("<div/>").html(str).text()), null, 2);
    }
</script>