<%= render :layout => 'administrator/navigation' do %>
<h1>Editing Link To</h1>

<%= render 'form' , :locals => { :youtube_auto_fillout => false } %>

<%= link_to 'Show', @link_to %> |
<%= link_to 'Back', link_tos_path %>
<% end %>
