// Place all the styles related to the LoginPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  font-size: 3em;
  font-weight: 300;
}

.welcome_subheading {
  font-size: 1em;
  font-weight: 300;
}

.welcome_row {
  font-size: 1.75em;
  padding-top: 30px;
  font-weight: 300;
  display: flex;
  vertical-align: middle;
}

.welcome_row_text {
    justify-content: center;
    display: flex;
    flex-direction: column;
}