// Place all the styles related to the NewAccount controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.widget{
   margin-top: -60px;
   margin-left: 50px;
   border: 1px solid black;
}

.party_image {
    @extend .widget;
    width: 120px;
}

.party_drop_down_button {
    @extend .widget;
}

.party_drop_down_menu {
    @extend .widget;
}

.dropdown-menu {
  width: 100%;
}

.name {
    position: absolute;
    padding-left: 200px;
    font-size: 30px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.badge_notification {
  background: red;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 25px;
  color: white
}

@import "sb-admin";
@import "chat";
